/* footer */
.footer{
    background-color: var(--black-color);
    padding: 50px 0;
    margin-top: 40px;

}
.footer_img{
    width: 100%;
}

.footer-list{
    list-style: none;
    font-size: 1.8rem;
    color: var(--white-color);
}
.footer-item{
    padding: 6px 0;
    font-weight: 500;
}

.footer-item-social:nth-child(2n){
    margin-left: 20px;
}